<div class="pagina-con-paneles-izquierdos pagina-con-paneles-derechos">

  <!-- Sidebar Fijo Izquierdo -->
  <app-fixed-sidebar-left></app-fixed-sidebar-left>
  <!-- ... fin Sidebar Fijo Izquierdo -->

  <!-- Sidebar Fijo Izquierdo Responsive -->
  <div class="sidebar-fijo sidebar-fijo-responsive">

    <div class="sidebar-fijo-izquierdo sidebar--pequeño" id="sidebar-izquierdo-responsive">
      <a href="#" class="logo js-sidebar-open">
        <img src="assets/img/logo.png" alt="HogarRed">
      </a>
    </div>

    <div class="sidebar-fijo-izquierdo sidebar--grande" id="sidebar-izquierdo-1-responsive">
      <a href="#" class="logo">
        <div class="img-wrap">
          <img src="assets/img/logo.png" alt="HogarRed">
        </div>
        <div class="bloque-titulo">
          <h6 class="logo-titulo">HogarRed</h6>
        </div>
      </a>

      <div class="mCustomScrollbar" data-mcs-theme="oscuro">
        <div class="bloque-control">
          <div class="pagina-autor autor vcard inline-items">
            <div class="autor-thumb">
              <img alt="autor" src="assets/img/author-page.jpg" class="avatar">
              <span class="icono-estado online"></span>
            </div>
            <a href="02-ProfilePage.html" class="autor-nombre fn">
              <div class="autor-titulo">
                James Spiegel
                <svg class="olymp-dropdown-arrow-icon">
                  <use xlink:href="svg-icons/sprites/icons.svg#olymp-dropdown-arrow-icon"></use>
                </svg>
              </div>
              <span class="autor-subtitulo">SPACE COWBOY</span>
            </a>
          </div>
        </div>

        <div class="ui-bloque-titulo ui-bloque-titulo-pequeño">
          <h6 class="titulo">SECCIONES PRINCIPALES</h6>
        </div>

        <ul class="menu-izquierdo">
          <li>
            <a href="#" class="js-sidebar-open">
              <svg class="olymp-close-icon menu-izquierdo-icono">
                <use xlink:href="assets/svg-icons/sprites/icons.svg#olymp-close-icon"></use>
              </svg>
              <span class="menu-izquierdo-titulo">Colapsar Menú</span>
            </a>
          </li>
          <li>
            <a href="mobile-index.html">
              <svg class="olymp-newsfeed-icon menu-izquierdo-icono" data-toggle="tooltip" data-placement="right"
                   data-original-title="NEWSFEED">
                <use xlink:href="assets/svg-icons/sprites/icons.svg#olymp-newsfeed-icon"></use>
              </svg>
              <span class="menu-izquierdo-titulo">Newsfeed</span>
            </a>
          </li>
          <li>
            <a href="Mobile-28-YourAccount-PersonalInformation.html">
              <svg class="olymp-star-icon menu-izquierdo-icono" data-toggle="tooltip" data-placement="right"
                   data-original-title="PÁGINA FAVORITA">
                <use xlink:href="assets/svg-icons/sprites/icons.svg#olymp-star-icon"></use>
              </svg>
              <span class="menu-izquierdo-titulo">Feed de Páginas Favoritas</span>
            </a>
          </li>
          <li>
            <a href="mobile-29-YourAccount-AccountSettings.html">
              <svg class="olymp-happy-faces-icon menu-izquierdo-icono" data-toggle="tooltip" data-placement="right"
                   data-original-title="GRUPOS DE AMIGOS">
                <use xlink:href="assets/svg-icons/sprites/icons.svg#olymp-happy-faces-icon"></use>
              </svg>
              <span class="menu-izquierdo-titulo">Grupos de Amigos</span>
            </a>
          </li>
          <!-- Añade el resto de los ítems aquí -->

        </ul>

        <div class="ui-bloque-titulo ui-bloque-titulo-pequeño">
          <h6 class="titulo">TU CUENTA</h6>
        </div>

        <ul class="configuracion-cuenta">
          <li>
            <a href="#">
              <svg class="olymp-menu-icon">
                <use xlink:href="assets/svg-icons/sprites/icons.svg#olymp-menu-icon"></use>
              </svg>
              <span>Configuración de Perfil</span>
            </a>
          </li>
          <li>
            <a href="#">
              <svg class="olymp-star-icon menu-izquierdo-icono" data-toggle="tooltip" data-placement="right"
                   data-original-title="PÁGINA FAVORITA">
                <use xlink:href="assets/svg-icons/sprites/icons.svg#olymp-star-icon"></use>
              </svg>
              <span>Crear Página Favorita</span>
            </a>
          </li>
          <li>
            <a href="#">
              <svg class="olymp-logout-icon">
                <use xlink:href="assets/svg-icons/sprites/icons.svg#olymp-logout-icon"></use>
              </svg>
              <span>Cerrar Sesión</span>
            </a>
          </li>
        </ul>

        <div class="ui-bloque-titulo ui-bloque-titulo-pequeño">
          <h6 class="titulo">Sobre HogarRed</h6>
        </div>

        <ul class="acerca-hogarred">
          <li>
            <a href="#">
              <span>Términos y Condiciones</span>
            </a>
          </li>
          <li>
            <a href="#">
              <span>FAQs</span>
            </a>
          </li>
          <li>
            <a href="#">
              <span>Empleos</span>
            </a>
          </li>
          <li>
            <a href="#">
              <span>Contacto</span>
            </a>
          </li>
        </ul>

      </div>
    </div>
  </div>

  <!-- Sidebar Fijo Derecho -->
  <app-fixed-sidebar-right></app-fixed-sidebar-right>
  <!-- ... fin Sidebar Fijo Derecho -->

  <!-- Sidebar Fijo Derecho Responsive -->
  <div class="sidebar-fijo derecho sidebar-fijo-responsive" id="sidebar-derecho-responsive">
    <!-- El contenido aquí sigue el mismo patrón -->
  </div>

  <!-- Encabezado -->
  <app-header [pageTitle]="'Newsfeed'"></app-header>
  <!-- ... fin Encabezado -->

  <div class="header-spacer"></div>

  <div class="contenedor">
    <div class="fila">

      <!-- Contenido Principal -->
      <main class="col col-xl-6 order-xl-2 col-lg-12 order-lg-1 col-md-12 col-sm-12 col-12">
        <div class="ui-block">
          <div class="formulario-feed-noticias">
            <app-status-post></app-status-post>
          </div>
        </div>

        <app-newsfeed-item></app-newsfeed-item>
      </main>

      <!-- Sidebar Izquierdo -->
      <aside class="col col-xl-3 order-xl-1 col-lg-6 order-lg-2 col-md-6 col-sm-6 col-12">
      </aside>

      <!-- Sidebar Derecho -->
      <aside class="col col-xl-3 order-xl-3 col-lg-6 order-lg-3 col-md-6 col-sm-6 col-12">
      </aside>
    </div>
  </div>

  <app-back-to-top-arrow></app-back-to-top-arrow>

  <!-- Popup de Chat para responsive -->
  <div class="ui-block popup-chat popup-chat-responsive" tabindex="-1" role="dialog"
       aria-labelledby="popup-chat-responsive" aria-hidden="true">
  </div>
</div>
