<div class="page-has-left-panels page-has-right-panels">


  <!-- Preloader -->

  <!--<div id="hellopreloader">-->
  <!--  <div class="preloader">-->
  <!--    <svg width="45" height="45" stroke="#fff">-->
  <!--      <g fill="none" fill-rule="evenodd" stroke-width="2" transform="translate(1 1)">-->
  <!--        <circle cx="22" cy="22" r="6" stroke="none">-->
  <!--          <animate attributeName="r" begin="1.5s" calcMode="linear" dur="3s" repeatCount="indefinite" values="6;22"/>-->
  <!--          <animate attributeName="stroke-opacity" begin="1.5s" calcMode="linear" dur="3s" repeatCount="indefinite" values="1;0"/>-->
  <!--          <animate attributeName="stroke-width" begin="1.5s" calcMode="linear" dur="3s" repeatCount="indefinite" values="2;0"/>-->
  <!--        </circle>-->
  <!--        <circle cx="22" cy="22" r="6" stroke="none">-->
  <!--          <animate attributeName="r" begin="3s" calcMode="linear" dur="3s" repeatCount="indefinite" values="6;22"/>-->
  <!--          <animate attributeName="stroke-opacity" begin="3s" calcMode="linear" dur="3s" repeatCount="indefinite" values="1;0"/>-->
  <!--          <animate attributeName="stroke-width" begin="3s" calcMode="linear" dur="3s" repeatCount="indefinite" values="2;0"/>-->
  <!--        </circle>-->
  <!--        <circle cx="22" cy="22" r="8">-->
  <!--          <animate attributeName="r" begin="0s" calcMode="linear" dur="1.5s" repeatCount="indefinite" values="6;1;2;3;4;5;6"/>-->
  <!--        </circle>-->
  <!--      </g>-->
  <!--    </svg>-->

  <!--    <div class="text">Loading ...</div>-->
  <!--  </div>-->
  <!--</div>-->

  <!-- ... end Preloader -->


  <!-- Fixed Sidebar Left -->
  <app-fixed-sidebar-left></app-fixed-sidebar-left>

  <!-- ... end Fixed Sidebar Left -->


  <!-- Fixed Sidebar Left -->

  <div class="fixed-sidebar fixed-sidebar-responsive">

    <div class="fixed-sidebar-left sidebar--small" id="sidebar-left-responsive">
      <a href="#" class="logo js-sidebar-open">
        <img src="assets/img/logo.png" alt="Olympus">
      </a>

    </div>

    <div class="fixed-sidebar-left sidebar--large" id="sidebar-left-1-responsive">
      <a href="#" class="logo">
        <div class="img-wrap">
          <img src="assets/img/logo.png" alt="Olympus">
        </div>
        <div class="title-block">
          <h6 class="logo-title">olympus</h6>
        </div>
      </a>

      <div class="mCustomScrollbar" data-mcs-theme="dark">

        <div class="control-block">
          <div class="author-page author vcard inline-items">
            <div class="author-thumb">
              <img alt="author" src="assets/img/author-page.jpg" class="avatar">
              <span class="icon-status online"></span>
            </div>
            <a href="02-ProfilePage.html" class="author-name fn">
              <div class="author-title">
                James Spiegel
                <svg class="olymp-dropdown-arrow-icon">
                  <use xlink:href="svg-icons/sprites/icons.svg#olymp-dropdown-arrow-icon"></use>
                </svg>
              </div>
              <span class="author-subtitle">SPACE COWBOY</span>
            </a>
          </div>
        </div>

        <div class="ui-block-title ui-block-title-small">
          <h6 class="title">MAIN SECTIONS</h6>
        </div>

        <ul class="left-menu">
          <li>
            <a href="#" class="js-sidebar-open">
              <svg class="olymp-close-icon left-menu-icon">
                <use xlink:href="assets/svg-icons/sprites/icons.svg#olymp-close-icon"></use>
              </svg>
              <span class="left-menu-title">Collapse Menu</span>
            </a>
          </li>
          <li>
            <a href="mobile-index.html">
              <svg class="olymp-newsfeed-icon left-menu-icon" data-toggle="tooltip" data-placement="right"
                   data-original-title="NEWSFEED">
                <use xlink:href="assets/svg-icons/sprites/icons.svg#olymp-newsfeed-icon"></use>
              </svg>
              <span class="left-menu-title">Newsfeed</span>
            </a>
          </li>
          <li>
            <a href="Mobile-28-YourAccount-PersonalInformation.html">
              <svg class="olymp-star-icon left-menu-icon" data-toggle="tooltip" data-placement="right"
                   data-original-title="FAV PAGE">
                <use xlink:href="assets/svg-icons/sprites/icons.svg#olymp-star-icon"></use>
              </svg>
              <span class="left-menu-title">Fav Pages Feed</span>
            </a>
          </li>
          <li>
            <a href="mobile-29-YourAccount-AccountSettings.html">
              <svg class="olymp-happy-faces-icon left-menu-icon" data-toggle="tooltip" data-placement="right"
                   data-original-title="FRIEND GROUPS">
                <use xlink:href="assets/svg-icons/sprites/icons.svg#olymp-happy-faces-icon"></use>
              </svg>
              <span class="left-menu-title">Friend Groups</span>
            </a>
          </li>
          <li>
            <a href="Mobile-30-YourAccount-ChangePassword.html">
              <svg class="olymp-headphones-icon left-menu-icon" data-toggle="tooltip" data-placement="right"
                   data-original-title="MUSIC&PLAYLISTS">
                <use xlink:href="assets/svg-icons/sprites/icons.svg#olymp-headphones-icon"></use>
              </svg>
              <span class="left-menu-title">Music & Playlists</span>
            </a>
          </li>
          <li>
            <a href="Mobile-31-YourAccount-HobbiesAndInterests.html">
              <svg class="olymp-weather-icon left-menu-icon" data-toggle="tooltip" data-placement="right"
                   data-original-title="WEATHER APP">
                <use xlink:href="assets/svg-icons/sprites/icons.svg#olymp-weather-icon"></use>
              </svg>
              <span class="left-menu-title">Weather App</span>
            </a>
          </li>
          <li>
            <a href="Mobile-32-YourAccount-EducationAndEmployement.html">
              <svg class="olymp-calendar-icon left-menu-icon" data-toggle="tooltip" data-placement="right"
                   data-original-title="CALENDAR AND EVENTS">
                <use xlink:href="assets/svg-icons/sprites/icons.svg#olymp-calendar-icon"></use>
              </svg>
              <span class="left-menu-title">Calendar and Events</span>
            </a>
          </li>
          <li>
            <a href="Mobile-33-YourAccount-Notifications.html">
              <svg class="olymp-badge-icon left-menu-icon" data-toggle="tooltip" data-placement="right"
                   data-original-title="Community Badges">
                <use xlink:href="assets/svg-icons/sprites/icons.svg#olymp-badge-icon"></use>
              </svg>
              <span class="left-menu-title">Community Badges</span>
            </a>
          </li>
          <li>
            <a href="Mobile-35-YourAccount-FriendsRequests.html">
              <svg class="olymp-stats-icon left-menu-icon" data-toggle="tooltip" data-placement="right"
                   data-original-title="Account Stats">
                <use xlink:href="assets/svg-icons/sprites/icons.svg#olymp-stats-icon"></use>
              </svg>
              <span class="left-menu-title">Account Stats</span>
            </a>
          </li>
          <li>
            <a href="#">
              <svg class="olymp-manage-widgets-icon left-menu-icon" data-toggle="tooltip" data-placement="right"
                   data-original-title="Manage Widgets">
                <use xlink:href="assets/svg-icons/sprites/icons.svg#olymp-manage-widgets-icon"></use>
              </svg>
              <span class="left-menu-title">Manage Widgets</span>
            </a>
          </li>
        </ul>

        <div class="ui-block-title ui-block-title-small">
          <h6 class="title">YOUR ACCOUNT</h6>
        </div>

        <ul class="account-settings">
          <li>
            <a href="#">

              <svg class="olymp-menu-icon">
                <use xlink:href="assets/svg-icons/sprites/icons.svg#olymp-menu-icon"></use>
              </svg>

              <span>Profile Settings</span>
            </a>
          </li>
          <li>
            <a href="#">
              <svg class="olymp-star-icon left-menu-icon" data-toggle="tooltip" data-placement="right"
                   data-original-title="FAV PAGE">
                <use xlink:href="assets/svg-icons/sprites/icons.svg#olymp-star-icon"></use>
              </svg>

              <span>Create Fav Page</span>
            </a>
          </li>
          <li>
            <a href="#">
              <svg class="olymp-logout-icon">
                <use xlink:href="assets/svg-icons/sprites/icons.svg#olymp-logout-icon"></use>
              </svg>

              <span>Log Out</span>
            </a>
          </li>
        </ul>

        <div class="ui-block-title ui-block-title-small">
          <h6 class="title">About Olympus</h6>
        </div>

        <ul class="about-olympus">
          <li>
            <a href="#">
              <span>Terms and Conditions</span>
            </a>
          </li>
          <li>
            <a href="#">
              <span>FAQs</span>
            </a>
          </li>
          <li>
            <a href="#">
              <span>Careers</span>
            </a>
          </li>
          <li>
            <a href="#">
              <span>Contact</span>
            </a>
          </li>
        </ul>

      </div>
    </div>
  </div>

  <!-- ... end Fixed Sidebar Left -->


  <!-- Fixed Sidebar Right -->
  <app-fixed-sidebar-right></app-fixed-sidebar-right>

  <!-- ... end Fixed Sidebar Right -->


  <!-- Fixed Sidebar Right-Responsive -->

  <div class="fixed-sidebar right fixed-sidebar-responsive" id="sidebar-right-responsive">

    <div class="fixed-sidebar-right sidebar--small">
      <a href="#" class="js-sidebar-open">
        <svg class="olymp-menu-icon">
          <use xlink:href="assets/svg-icons/sprites/icons.svg#olymp-menu-icon"></use>
        </svg>
        <svg class="olymp-close-icon">
          <use xlink:href="assets/svg-icons/sprites/icons.svg#olymp-close-icon"></use>
        </svg>
      </a>
    </div>

    <div class="fixed-sidebar-right sidebar--large">
      <div class="mCustomScrollbar" data-mcs-theme="dark">

        <div class="ui-block-title ui-block-title-small">
          <a href="#" class="title">Close Friends</a>
          <a href="#">Settings</a>
        </div>

        <ul class="chat-users">
          <li class="inline-items js-chat-open">

            <div class="author-thumb">
              <img alt="author" src="assets/img/avatar67-sm.jpg" class="avatar">
              <span class="icon-status online"></span>
            </div>

            <div class="author-status">
              <a href="#" class="h6 author-name">Carol Summers</a>
              <span class="status">ONLINE</span>
            </div>

            <div class="more">
              <svg class="olymp-three-dots-icon">
                <use xlink:href="assets/svg-icons/sprites/icons.svg#olymp-three-dots-icon"></use>
              </svg>

              <ul class="more-icons">
                <li>
                  <svg data-toggle="tooltip" data-placement="top" data-original-title="START CONVERSATION"
                       class="olymp-comments-post-icon">
                    <use xlink:href="assets/svg-icons/sprites/icons.svg#olymp-comments-post-icon"></use>
                  </svg>
                </li>

                <li>
                  <svg data-toggle="tooltip" data-placement="top" data-original-title="ADD TO CONVERSATION"
                       class="olymp-add-to-conversation-icon">
                    <use xlink:href="assets/svg-icons/sprites/icons.svg#olymp-add-to-conversation-icon"></use>
                  </svg>
                </li>

                <li>
                  <svg data-toggle="tooltip" data-placement="top" data-original-title="BLOCK FROM CHAT"
                       class="olymp-block-from-chat-icon">
                    <use xlink:href="assets/svg-icons/sprites/icons.svg#olymp-block-from-chat-icon"></use>
                  </svg>
                </li>
              </ul>

            </div>

          </li>
          <li class="inline-items js-chat-open">

            <div class="author-thumb">
              <img alt="author" src="assets/img/avatar62-sm.jpg" class="avatar">
              <span class="icon-status online"></span>
            </div>

            <div class="author-status">
              <a href="#" class="h6 author-name">Mathilda Brinker</a>
              <span class="status">AT WORK!</span>
            </div>

            <div class="more">
              <svg class="olymp-three-dots-icon">
                <use xlink:href="assets/svg-icons/sprites/icons.svg#olymp-three-dots-icon"></use>
              </svg>

              <ul class="more-icons">
                <li>
                  <svg data-toggle="tooltip" data-placement="top" data-original-title="START CONVERSATION"
                       class="olymp-comments-post-icon">
                    <use xlink:href="assets/svg-icons/sprites/icons.svg#olymp-comments-post-icon"></use>
                  </svg>
                </li>

                <li>
                  <svg data-toggle="tooltip" data-placement="top" data-original-title="ADD TO CONVERSATION"
                       class="olymp-add-to-conversation-icon">
                    <use xlink:href="assets/svg-icons/sprites/icons.svg#olymp-add-to-conversation-icon"></use>
                  </svg>
                </li>

                <li>
                  <svg data-toggle="tooltip" data-placement="top" data-original-title="BLOCK FROM CHAT"
                       class="olymp-block-from-chat-icon">
                    <use xlink:href="assets/svg-icons/sprites/icons.svg#olymp-block-from-chat-icon"></use>
                  </svg>
                </li>
              </ul>

            </div>

          </li>

          <li class="inline-items js-chat-open">


            <div class="author-thumb">
              <img alt="author" src="assets/img/avatar68-sm.jpg" class="avatar">
              <span class="icon-status online"></span>
            </div>

            <div class="author-status">
              <a href="#" class="h6 author-name">Carol Summers</a>
              <span class="status">ONLINE</span>
            </div>

            <div class="more">
              <svg class="olymp-three-dots-icon">
                <use xlink:href="assets/svg-icons/sprites/icons.svg#olymp-three-dots-icon"></use>
              </svg>

              <ul class="more-icons">
                <li>
                  <svg data-toggle="tooltip" data-placement="top" data-original-title="START CONVERSATION"
                       class="olymp-comments-post-icon">
                    <use xlink:href="assets/svg-icons/sprites/icons.svg#olymp-comments-post-icon"></use>
                  </svg>
                </li>

                <li>
                  <svg data-toggle="tooltip" data-placement="top" data-original-title="ADD TO CONVERSATION"
                       class="olymp-add-to-conversation-icon">
                    <use xlink:href="assets/svg-icons/sprites/icons.svg#olymp-add-to-conversation-icon"></use>
                  </svg>
                </li>

                <li>
                  <svg data-toggle="tooltip" data-placement="top" data-original-title="BLOCK FROM CHAT"
                       class="olymp-block-from-chat-icon">
                    <use xlink:href="assets/svg-icons/sprites/icons.svg#olymp-block-from-chat-icon"></use>
                  </svg>
                </li>
              </ul>

            </div>


          </li>

          <li class="inline-items js-chat-open">


            <div class="author-thumb">
              <img alt="author" src="assets/img/avatar69-sm.jpg" class="avatar">
              <span class="icon-status away"></span>
            </div>

            <div class="author-status">
              <a href="#" class="h6 author-name">Michael Maximoff</a>
              <span class="status">AWAY</span>
            </div>

            <div class="more">
              <svg class="olymp-three-dots-icon">
                <use xlink:href="assets/svg-icons/sprites/icons.svg#olymp-three-dots-icon"></use>
              </svg>

              <ul class="more-icons">
                <li>
                  <svg data-toggle="tooltip" data-placement="top" data-original-title="START CONVERSATION"
                       class="olymp-comments-post-icon">
                    <use xlink:href="assets/svg-icons/sprites/icons.svg#olymp-comments-post-icon"></use>
                  </svg>
                </li>

                <li>
                  <svg data-toggle="tooltip" data-placement="top" data-original-title="ADD TO CONVERSATION"
                       class="olymp-add-to-conversation-icon">
                    <use xlink:href="assets/svg-icons/sprites/icons.svg#olymp-add-to-conversation-icon"></use>
                  </svg>
                </li>

                <li>
                  <svg data-toggle="tooltip" data-placement="top" data-original-title="BLOCK FROM CHAT"
                       class="olymp-block-from-chat-icon">
                    <use xlink:href="assets/svg-icons/sprites/icons.svg#olymp-block-from-chat-icon"></use>
                  </svg>
                </li>
              </ul>

            </div>


          </li>

          <li class="inline-items js-chat-open">


            <div class="author-thumb">
              <img alt="author" src="img/avatar70-sm.jpg" class="avatar">
              <span class="icon-status disconected"></span>
            </div>

            <div class="author-status">
              <a href="#" class="h6 author-name">Rachel Howlett</a>
              <span class="status">OFFLINE</span>
            </div>

            <div class="more">
              <svg class="olymp-three-dots-icon">
                <use xlink:href="svg-icons/sprites/icons.svg#olymp-three-dots-icon"></use>
              </svg>

              <ul class="more-icons">
                <li>
                  <svg data-toggle="tooltip" data-placement="top" data-original-title="START CONVERSATION"
                       class="olymp-comments-post-icon">
                    <use xlink:href="svg-icons/sprites/icons.svg#olymp-comments-post-icon"></use>
                  </svg>
                </li>

                <li>
                  <svg data-toggle="tooltip" data-placement="top" data-original-title="ADD TO CONVERSATION"
                       class="olymp-add-to-conversation-icon">
                    <use xlink:href="svg-icons/sprites/icons.svg#olymp-add-to-conversation-icon"></use>
                  </svg>
                </li>

                <li>
                  <svg data-toggle="tooltip" data-placement="top" data-original-title="BLOCK FROM CHAT"
                       class="olymp-block-from-chat-icon">
                    <use xlink:href="svg-icons/sprites/icons.svg#olymp-block-from-chat-icon"></use>
                  </svg>
                </li>
              </ul>

            </div>


          </li>
        </ul>


        <div class="ui-block-title ui-block-title-small">
          <a href="#" class="title">MY FAMILY</a>
          <a href="#">Settings</a>
        </div>

        <ul class="chat-users">
          <li class="inline-items js-chat-open">

            <div class="author-thumb">
              <img alt="author" src="assets/img/avatar64-sm.jpg" class="avatar">
              <span class="icon-status online"></span>
            </div>

            <div class="author-status">
              <a href="#" class="h6 author-name">Sarah Hetfield</a>
              <span class="status">ONLINE</span>
            </div>

            <div class="more">
              <svg class="olymp-three-dots-icon">
                <use xlink:href="assets/svg-icons/sprites/icons.svg#olymp-three-dots-icon"></use>
              </svg>

              <ul class="more-icons">
                <li>
                  <svg data-toggle="tooltip" data-placement="top" data-original-title="START CONVERSATION"
                       class="olymp-comments-post-icon">
                    <use xlink:href="assets/svg-icons/sprites/icons.svg#olymp-comments-post-icon"></use>
                  </svg>
                </li>

                <li>
                  <svg data-toggle="tooltip" data-placement="top" data-original-title="ADD TO CONVERSATION"
                       class="olymp-add-to-conversation-icon">
                    <use xlink:href="assets/svg-icons/sprites/icons.svg#olymp-add-to-conversation-icon"></use>
                  </svg>
                </li>

                <li>
                  <svg data-toggle="tooltip" data-placement="top" data-original-title="BLOCK FROM CHAT"
                       class="olymp-block-from-chat-icon">
                    <use xlink:href="assets/svg-icons/sprites/icons.svg#olymp-block-from-chat-icon"></use>
                  </svg>
                </li>
              </ul>

            </div>
          </li>
        </ul>


        <div class="ui-block-title ui-block-title-small">
          <a href="#" class="title">UNCATEGORIZED</a>
          <a href="#">Settings</a>
        </div>

        <ul class="chat-users">
          <li class="inline-items js-chat-open">

            <div class="author-thumb">
              <img alt="author" src="assets/img/avatar71-sm.jpg" class="avatar">
              <span class="icon-status online"></span>
            </div>

            <div class="author-status">
              <a href="#" class="h6 author-name">Bruce Peterson</a>
              <span class="status">ONLINE</span>
            </div>

            <div class="more">
              <svg class="olymp-three-dots-icon">
                <use xlink:href="assets/svg-icons/sprites/icons.svg#olymp-three-dots-icon"></use>
              </svg>

              <ul class="more-icons">
                <li>
                  <svg data-toggle="tooltip" data-placement="top" data-original-title="START CONVERSATION"
                       class="olymp-comments-post-icon">
                    <use xlink:href="assets/svg-icons/sprites/icons.svg#olymp-comments-post-icon"></use>
                  </svg>
                </li>

                <li>
                  <svg data-toggle="tooltip" data-placement="top" data-original-title="ADD TO CONVERSATION"
                       class="olymp-add-to-conversation-icon">
                    <use xlink:href="assets/svg-icons/sprites/icons.svg#olymp-add-to-conversation-icon"></use>
                  </svg>
                </li>

                <li>
                  <svg data-toggle="tooltip" data-placement="top" data-original-title="BLOCK FROM CHAT"
                       class="olymp-block-from-chat-icon">
                    <use xlink:href="assets/svg-icons/sprites/icons.svg#olymp-block-from-chat-icon"></use>
                  </svg>
                </li>
              </ul>

            </div>


          </li>
          <li class="inline-items js-chat-open">

            <div class="author-thumb">
              <img alt="author" src="assets/img/avatar72-sm.jpg" class="avatar">
              <span class="icon-status away"></span>
            </div>

            <div class="author-status">
              <a href="#" class="h6 author-name">Chris Greyson</a>
              <span class="status">AWAY</span>
            </div>

            <div class="more">
              <svg class="olymp-three-dots-icon">
                <use xlink:href="assets/svg-icons/sprites/icons.svg#olymp-three-dots-icon"></use>
              </svg>

              <ul class="more-icons">
                <li>
                  <svg data-toggle="tooltip" data-placement="top" data-original-title="START CONVERSATION"
                       class="olymp-comments-post-icon">
                    <use xlink:href="assets/svg-icons/sprites/icons.svg#olymp-comments-post-icon"></use>
                  </svg>
                </li>

                <li>
                  <svg data-toggle="tooltip" data-placement="top" data-original-title="ADD TO CONVERSATION"
                       class="olymp-add-to-conversation-icon">
                    <use xlink:href="assets/svg-icons/sprites/icons.svg#olymp-add-to-conversation-icon"></use>
                  </svg>
                </li>

                <li>
                  <svg data-toggle="tooltip" data-placement="top" data-original-title="BLOCK FROM CHAT"
                       class="olymp-block-from-chat-icon">
                    <use xlink:href="assets/svg-icons/sprites/icons.svg#olymp-block-from-chat-icon"></use>
                  </svg>
                </li>
              </ul>

            </div>

          </li>
          <li class="inline-items js-chat-open">

            <div class="author-thumb">
              <img alt="author" src="assets/img/avatar63-sm.jpg" class="avatar">
              <span class="icon-status status-invisible"></span>
            </div>

            <div class="author-status">
              <a href="#" class="h6 author-name">Nicholas Grisom</a>
              <span class="status">INVISIBLE</span>
            </div>

            <div class="more">
              <svg class="olymp-three-dots-icon">
                <use xlink:href="assets/svg-icons/sprites/icons.svg#olymp-three-dots-icon"></use>
              </svg>

              <ul class="more-icons">
                <li>
                  <svg data-toggle="tooltip" data-placement="top" data-original-title="START CONVERSATION"
                       class="olymp-comments-post-icon">
                    <use xlink:href="assets/svg-icons/sprites/icons.svg#olymp-comments-post-icon"></use>
                  </svg>
                </li>

                <li>
                  <svg data-toggle="tooltip" data-placement="top" data-original-title="ADD TO CONVERSATION"
                       class="olymp-add-to-conversation-icon">
                    <use xlink:href="assets/svg-icons/sprites/icons.svg#olymp-add-to-conversation-icon"></use>
                  </svg>
                </li>

                <li>
                  <svg data-toggle="tooltip" data-placement="top" data-original-title="BLOCK FROM CHAT"
                       class="olymp-block-from-chat-icon">
                    <use xlink:href="assets/svg-icons/sprites/icons.svg#olymp-block-from-chat-icon"></use>
                  </svg>
                </li>
              </ul>

            </div>
          </li>
          <li class="inline-items js-chat-open">

            <div class="author-thumb">
              <img alt="author" src="assets/img/avatar72-sm.jpg" class="avatar">
              <span class="icon-status away"></span>
            </div>

            <div class="author-status">
              <a href="#" class="h6 author-name">Chris Greyson</a>
              <span class="status">AWAY</span>
            </div>

            <div class="more">
              <svg class="olymp-three-dots-icon">
                <use xlink:href="assets/svg-icons/sprites/icons.svg#olymp-three-dots-icon"></use>
              </svg>

              <ul class="more-icons">
                <li>
                  <svg data-toggle="tooltip" data-placement="top" data-original-title="START CONVERSATION"
                       class="olymp-comments-post-icon">
                    <use xlink:href="assets/svg-icons/sprites/icons.svg#olymp-comments-post-icon"></use>
                  </svg>
                </li>

                <li>
                  <svg data-toggle="tooltip" data-placement="top" data-original-title="ADD TO CONVERSATION"
                       class="olymp-add-to-conversation-icon">
                    <use xlink:href="assets/svg-icons/sprites/icons.svg#olymp-add-to-conversation-icon"></use>
                  </svg>
                </li>

                <li>
                  <svg data-toggle="tooltip" data-placement="top" data-original-title="BLOCK FROM CHAT"
                       class="olymp-block-from-chat-icon">
                    <use xlink:href="assets/svg-icons/sprites/icons.svg#olymp-block-from-chat-icon"></use>
                  </svg>
                </li>
              </ul>

            </div>
          </li>
          <li class="inline-items js-chat-open">

            <div class="author-thumb">
              <img alt="author" src="assets/img/avatar71-sm.jpg" class="avatar">
              <span class="icon-status online"></span>
            </div>

            <div class="author-status">
              <a href="#" class="h6 author-name">Bruce Peterson</a>
              <span class="status">ONLINE</span>
            </div>

            <div class="more">
              <svg class="olymp-three-dots-icon">
                <use xlink:href="assets/svg-icons/sprites/icons.svg#olymp-three-dots-icon"></use>
              </svg>

              <ul class="more-icons">
                <li>
                  <svg data-toggle="tooltip" data-placement="top" data-original-title="START CONVERSATION"
                       class="olymp-comments-post-icon">
                    <use xlink:href="assets/svg-icons/sprites/icons.svg#olymp-comments-post-icon"></use>
                  </svg>
                </li>

                <li>
                  <svg data-toggle="tooltip" data-placement="top" data-original-title="ADD TO CONVERSATION"
                       class="olymp-add-to-conversation-icon">
                    <use xlink:href="assets/svg-icons/sprites/icons.svg#olymp-add-to-conversation-icon"></use>
                  </svg>
                </li>

                <li>
                  <svg data-toggle="tooltip" data-placement="top" data-original-title="BLOCK FROM CHAT"
                       class="olymp-block-from-chat-icon">
                    <use xlink:href="assets/svg-icons/sprites/icons.svg#olymp-block-from-chat-icon"></use>
                  </svg>
                </li>
              </ul>

            </div>
          </li>
        </ul>

      </div>

      <div class="search-friend inline-items">
        <form class="form-group">
          <input class="form-control" placeholder="Search Friends..." value="" type="text">
        </form>

        <a href="29-YourAccount-AccountSettings.html" class="settings">
          <svg class="olymp-settings-icon">
            <use xlink:href="assets/assets/svg-icons/sprites/icons.svg#olymp-settings-icon"></use>
          </svg>
        </a>

        <a href="#" class="js-sidebar-open">
          <svg class="olymp-close-icon">
            <use xlink:href="assets/assets/svg-icons/sprites/icons.svg#olymp-close-icon"></use>
          </svg>
        </a>
      </div>

      <a href="#" class="olympus-chat inline-items js-chat-open">

        <h6 class="olympus-chat-title">OLYMPUS CHAT</h6>
        <svg class="olymp-chat---messages-icon">
          <use xlink:href="assets/assets/svg-icons/sprites/icons.svg#olymp-chat---messages-icon"></use>
        </svg>
      </a>
    </div>

  </div>

  <!-- ... end Fixed Sidebar Right-Responsive -->


  <!-- Header-BP -->

  <app-header [pageTitle]="'Newsfeed'"></app-header>

  <!-- ... end Header-BP -->


  <!-- Responsive Header-BP -->


  <!-- ... end Responsive Header-BP -->
  <div class="header-spacer"></div>


  <div class="container">
    <div class="row">

      <!-- Main Content -->

      <main class="col col-xl-6 order-xl-2 col-lg-12 order-lg-1 col-md-12 col-sm-12 col-12">

        <div class="ui-block">

          <!-- News Feed Form  -->

          <div class="news-feed-form">

            <app-status-post></app-status-post>
          </div>

          <!-- ... end News Feed Form  -->      </div>

        <app-newsfeed-item></app-newsfeed-item>


      </main>



      <!-- Left Sidebar -->

      <aside class="col col-xl-3 order-xl-1 col-lg-6 order-lg-2 col-md-6 col-sm-6 col-12">


      </aside>



      <!-- Right Sidebar -->

      <aside class="col col-xl-3 order-xl-3 col-lg-6 order-lg-3 col-md-6 col-sm-6 col-12">

      </aside>

      <!-- ... end Right Sidebar -->

    </div>
  </div>

  <app-back-to-top-arrow></app-back-to-top-arrow>

  <!-- Window-popup-CHAT for responsive min-width: 768px -->

  <div class="ui-block popup-chat popup-chat-responsive" tabindex="-1" role="dialog"
       aria-labelledby="popup-chat-responsive" aria-hidden="true">

  </div>
</div>
