<div class="ui-block">
  <div class="ui-block-title">
    <h6 class="title">Últimas Fotos</h6>
  </div>
  <div class="ui-block-content">

    <!-- W-Latest-Photo -->

    <ul class="widget w-last-photo js-zoom-gallery">
      <li>
        <a href="img/last-photo10-large.jpg">
          <img src="img/last-photo10-large.jpg" alt="foto">
        </a>
      </li>
      <li>
        <a href="img/last-phot11-large.jpg">
          <img src="img/last-phot11-large.jpg" alt="foto">
        </a>
      </li>
      <li>
        <a href="img/last-phot12-large.jpg">
          <img src="img/last-phot12-large.jpg" alt="foto">
        </a>
      </li>
      <li>
        <a href="img/last-phot13-large.jpg">
          <img src="img/last-phot13-large.jpg" alt="foto">
        </a>
      </li>
      <li>
        <a href="img/last-phot14-large.jpg">
          <img src="img/last-phot14-large.jpg" alt="foto">
        </a>
      </li>
      <li>
        <a href="img/last-phot15-large.jpg">
          <img src="img/last-phot15-large.jpg" alt="foto">
        </a>
      </li>
      <li>
        <a href="img/last-phot16-large.jpg">
          <img src="img/last-phot16-large.jpg" alt="foto">
        </a>
      </li>
      <li>
        <a href="img/last-phot17-large.jpg">
          <img src="img/last-phot17-large.jpg" alt="foto">
        </a>
      </li>
      <li>
        <a href="img/last-phot18-large.jpg">
          <img src="img/last-phot18-large.jpg" alt="foto">
        </a>
      </li>
    </ul>

    <!-- .. fin W-Latest-Photo -->
  </div>
</div>

<div class="ui-block">
  <div class="ui-block-title">
    <h6 class="title">Entradas del Blog</h6>
  </div>

  <!-- W-Blog-Posts -->

  <ul class="widget w-blog-posts">
    <li>
      <article class="hentry post">
        <a href="#" class="h4">Mis Vacaciones Perfectas en Sudamérica y Europa</a>
        <p>Lorem ipsum dolor sit amet, consect adipisicing elit, sed do eiusmod por incidid ut labore et.</p>
        <div class="post__date">
          <time class="published" datetime="2017-03-24T18:18">Hace 7 horas</time>
        </div>
      </article>
    </li>
    <li>
      <article class="hentry post">
        <a href="#" class="h4">La Gran Experiencia de Viajar Solo</a>
        <p>Lorem ipsum dolor sit amet, consect adipisicing elit, sed do eiusmod por incidid ut labore et.</p>
        <div class="post__date">
          <time class="published" datetime="2017-03-24T18:18">18 de marzo, a las 6:52pm</time>
        </div>
      </article>
    </li>
  </ul>

  <!-- .. fin W-Blog-Posts -->
</div>

<div class="ui-block">
  <div class="ui-block-title">
    <h6 class="title">Amigos (86)</h6>
  </div>
  <div class="ui-block-content">

    <!-- W-Faved-Page -->

    <ul class="widget w-faved-page js-zoom-gallery">
      <li>
        <a href="#">
          <img src="img/avatar38-sm.jpg" alt="amigo">
        </a>
      </li>
      <li>
        <a href="#">
          <img src="img/avatar24-sm.jpg" alt="usuario">
        </a>
      </li>
      <li>
        <a href="#">
          <img src="img/avatar36-sm.jpg" alt="amigo">
        </a>
      </li>
      <li>
        <a href="#">
          <img src="img/avatar35-sm.jpg" alt="usuario">
        </a>
      </li>
      <li>
        <a href="#">
          <img src="img/avatar34-sm.jpg" alt="amigo">
        </a>
      </li>
      <li>
        <a href="#">
          <img src="img/avatar33-sm.jpg" alt="amigo">
        </a>
      </li>
      <li>
        <a href="#">
          <img src="img/avatar32-sm.jpg" alt="usuario">
        </a>
      </li>
      <li>
        <a href="#">
          <img src="img/avatar31-sm.jpg" alt="amigo">
        </a>
      </li>
      <li>
        <a href="#">
          <img src="img/avatar30-sm.jpg" alt="amigo">
        </a>
      </li>
      <li>
        <a href="#">
          <img src="img/avatar29-sm.jpg" alt="usuario">
        </a>
      </li>
      <li>
        <a href="#">
          <img src="img/avatar28-sm.jpg" alt="usuario">
        </a>
      </li>
      <li>
        <a href="#">
          <img src="img/avatar27-sm.jpg" alt="usuario">
        </a>
      </li>
      <li>
        <a href="#">
          <img src="img/avatar26-sm.jpg" alt="usuario">
        </a>
      </li>
      <li>
        <a href="#">
          <img src="img/avatar25-sm.jpg" alt="usuario">
        </a>
      </li>
      <li class="all-users">
        <a href="#">+74</a>
      </li>
    </ul>

    <!-- .. fin W-Faved-Page -->
  </div>
</div>

<div class="ui-block">
  <div class="ui-block-title">
    <h6 class="title">Páginas Favoritas</h6>
  </div>

  <!-- W-Friend-Pages-Added -->

  <ul class="widget w-friend-pages-added notification-list friend-requests">
    <li class="inline-items">
      <div class="author-thumb">
        <img src="img/avatar41-sm.jpg" alt="autor">
      </div>
      <div class="notification-event">
        <a href="#" class="h6 notification-friend">The Marina Bar</a>
        <span class="chat-message-item">Restaurante / Bar</span>
      </div>
      <span class="notification-icon" data-toggle="tooltip" data-placement="top" data-original-title="AÑADIR A TUS FAVORITOS">
        <a href="#">
          <svg class="olymp-star-icon">
            <use xlink:href="svg-icons/sprites/icons.svg#olymp-star-icon"></use>
          </svg>
        </a>
      </span>
    </li>
    <li class="inline-items">
      <div class="author-thumb">
        <img src="img/avatar42-sm.jpg" alt="autor">
      </div>
      <div class="notification-event">
        <a href="#" class="h6 notification-friend">Tapronus Rock</a>
        <span class="chat-message-item">Banda de Rock</span>
      </div>
      <span class="notification-icon" data-toggle="tooltip" data-placement="top" data-original-title="AÑADIR A TUS FAVORITOS">
        <a href="#">
          <svg class="olymp-star-icon">
            <use xlink:href="svg-icons/sprites/icons.svg#olymp-star-icon"></use>
          </svg>
        </a>
      </span>
    </li>
    <li class="inline-items">
      <div class="author-thumb">
        <img src="img/avatar43-sm.jpg" alt="autor">
      </div>
      <div class="notification-event">
        <a href="#" class="h6 notification-friend">Pixel Digital Design</a>
        <span class="chat-message-item">Compañía</span>
      </div>
      <span class="notification-icon" data-toggle="tooltip" data-placement="top" data-original-title="AÑADIR A TUS FAVORITOS">
        <a href="#">
          <svg class="olymp-star-icon">
            <use xlink:href="svg-icons/sprites/icons.svg#olymp-star-icon"></use>
          </svg>
        </a>
      </span>
    </li>
    <li class="inline-items">
      <div class="author-thumb">
        <img src="img/avatar44-sm.jpg" alt="autor">
      </div>
      <div class="notification-event">
        <a href="#" class="h6 notification-friend">Thompson’s Custom Clothing Boutique</a>
        <span class="chat-message-item">Tienda de Ropa</span>
      </div>
      <span class="notification-icon" data-toggle="tooltip" data-placement="top" data-original-title="AÑADIR A TUS FAVORITOS">
        <a href="#">
          <svg class="olymp-star-icon">
            <use xlink:href="svg-icons/sprites/icons.svg#olymp-star-icon"></use>
          </svg>
        </a>
      </span>
    </li>
    <li class="inline-items">
      <div class="author-thumb">
        <img src="img/avatar45-sm.jpg" alt="autor">
      </div>
      <div class="notification-event">
        <a href="#" class="h6 notification-friend">Crimson Agency</a>
        <span class="chat-message-item">Compañía</span>
      </div>
      <span class="notification-icon" data-toggle="tooltip" data-placement="top" data-original-title="AÑADIR A TUS FAVORITOS">
        <a href="#">
          <svg class="olymp-star-icon">
            <use xlink:href="svg-icons/sprites/icons.svg#olymp-star-icon"></use>
          </svg>
        </a>
      </span>
    </li>
    <li class="inline-items">
      <div class="author-thumb">
        <img src="img/avatar46-sm.jpg" alt="autor">
      </div>
      <div class="notification-event">
        <a href="#" class="h6 notification-friend">Mannequin Angel</a>
        <span class="chat-message-item">Tienda de Ropa</span>
      </div>
      <span class="notification-icon" data-toggle="tooltip" data-placement="top" data-original-title="AÑADIR A TUS FAVORITOS">
        <a href="#">
          <svg class="olymp-star-icon">
            <use xlink:href="svg-icons/sprites/icons.svg#olymp-star-icon"></use>
          </svg>
        </a>
      </span>
    </li>
  </ul>

  <!-- .. fin W-Friend-Pages-Added -->
</div>

<div class="ui-block">
  <div class="ui-block-title">
    <h6 class="title">Encuesta de James</h6>
  </div>
  <div class="ui-block-content">

    <!-- W-Pool -->

    <ul class="widget w-pool">
      <li>
        <p>Si tuvieras que elegir, ¿qué actor prefieres que sea el próximo Darkman?</p>
      </li>
      <li>
        <div class="skills-item">
          <div class="skills-item-info">
            <span class="skills-item-title">
              <span class="radio">
                <label>
                  <input type="radio" name="optionsRadios"> Thomas Bale
                </label>
              </span>
            </span>
            <span class="skills-item-count">
              <span class="count-animate" data-speed="1000" data-refresh-interval="50" data-to="62" data-from="0"></span>
              <span class="units">62%</span>
            </span>
          </div>
          <div class="skills-item-meter">
            <span class="skills-item-meter-active bg-primary" style="width: 62%"></span>
          </div>
          <div class="counter-friends">12 amigos votaron por esto</div>

          <ul class="friends-harmonic">
            <li><a href="#"><img src="img/friend-harmonic1.jpg" alt="amigo"></a></li>
            <li><a href="#"><img src="img/friend-harmonic2.jpg" alt="amigo"></a></li>
            <li><a href="#"><img src="img/friend-harmonic3.jpg" alt="amigo"></a></li>
            <li><a href="#"><img src="img/friend-harmonic4.jpg" alt="amigo"></a></li>
            <li><a href="#"><img src="img/friend-harmonic5.jpg" alt="amigo"></a></li>
            <li><a href="#"><img src="img/friend-harmonic6.jpg" alt="amigo"></a></li>
            <li><a href="#"><img src="img/friend-harmonic7.jpg" alt="amigo"></a></li>
            <li><a href="#"><img src="img/friend-harmonic8.jpg" alt="amigo"></a></li>
            <li><a href="#"><img src="img/friend-harmonic9.jpg" alt="amigo"></a></li>
            <li><a href="#" class="all-users">+3</a></li>
          </ul>
        </div>
      </li>

      <li>
        <div class="skills-item">
          <div class="skills-item-info">
            <span class="skills-item-title">
              <span class="radio">
                <label>
                  <input type="radio" name="optionsRadios"> Ben Robertson
                </label>
              </span>
            </span>
            <span class="skills-item-count">
              <span class="count-animate" data-speed="1000" data-refresh-interval="50" data-to="27" data-from="0"></span>
              <span class="units">27%</span>
            </span>
          </div>
          <div class="skills-item-meter">
            <span class="skills-item-meter-active bg-primary" style="width: 27%"></span>
          </div>
          <div class="counter-friends">7 amigos votaron por esto</div>

          <ul class="friends-harmonic">
            <li><a href="#"><img src="img/friend-harmonic7.jpg" alt="amigo"></a></li>
            <li><a href="#"><img src="img/friend-harmonic8.jpg" alt="amigo"></a></li>
            <li><a href="#"><img src="img/friend-harmonic9.jpg" alt="amigo"></a></li>
            <li><a href="#"><img src="img/friend-harmonic10.jpg" alt="amigo"></a></li>
            <li><a href="#"><img src="img/friend-harmonic11.jpg" alt="amigo"></a></li>
            <li><a href="#"><img src="img/friend-harmonic12.jpg" alt="amigo"></a></li>
            <li><a href="#"><img src="img/friend-harmonic13.jpg" alt="amigo"></a></li>
          </ul>
        </div>
      </li>

      <li>
        <div class="skills-item">
          <div class="skills-item-info">
            <span class="skills-item-title">
              <span class="radio">
                <label>
                  <input type="radio" name="optionsRadios"> Michael Streiton
                </label>
              </span>
            </span>
            <span class="skills-item-count">
              <span class="count-animate" data-speed="1000" data-refresh-interval="50" data-to="11" data-from="0"></span>
              <span class="units">11%</span>
            </span>
          </div>
          <div class="skills-item-meter">
            <span class="skills-item-meter-active bg-primary" style="width: 11%"></span>
          </div>
          <div class="counter-friends">2 personas votaron por esto</div>

          <ul class="friends-harmonic">
            <li><a href="#"><img src="img/friend-harmonic14.jpg" alt="amigo"></a></li>
            <li><a href="#"><img src="img/friend-harmonic15.jpg" alt="amigo"></a></li>
          </ul>
        </div>
      </li>
    </ul>

    <!-- .. fin W-Pool -->
    <a href="#" class="btn btn-md-2 btn-border-think custom-color c-grey full-width">¡Vota ahora!</a>
  </div>
</div>
