<!-- Pestañas de Navegación -->
<ul class="nav nav-tabs" role="tablist">
  <li class="nav-item">
  </li>
</ul>

<a class="nav-link active inline-items" data-toggle="tab" href="#home-1" role="tab" aria-expanded="true">
  <svg class="olymp-status-icon">
    <use xlink:href="assets/svg-icons/sprites/icons.svg#olymp-status-icon"></use>
  </svg>
  <span>Post</span>
</a>

<!-- Paneles de Pestañas -->
<div class="tab-content">
  <div class="tab-pane active" id="home-1" role="tabpanel" aria-expanded="true">
    <form [formGroup]="statusForm" (ngSubmit)="submitStatus()">
      <div class="post__author author vcard inline-items author-thumb">
        <img
          src="{{user?.avatar?user.avatar : 'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR0hxwLk9WbtPyfItymvpJ3fA7m13KIYF3sKDOy_YAXMqx2ZKRdwWDayxvScLqYNi7XsNg&usqp=CAU'}}"
          alt="autor">
      </div>
      <div class="form-group with-icon label-floating is-empty">
        <label class="control-label">Comparte lo que estás pensando aquí...</label>
        <textarea class="form-control" placeholder="" formControlName="content"></textarea>
      </div>
      <div *ngIf="images.length != 0">
        <app-post-images [images]="images"></app-post-images>
      </div>
      <div class="add-options-message">
        <a href="javascript:void(0)" class="options-message" data-toggle="tooltip" data-placement="top" data-original-title="AGREGAR FOTOS">
          <svg class="olymp-camera-icon" data-toggle="modal" data-target="#update-header-photo">
            <use xlink:href="assets/svg-icons/sprites/icons.svg#olymp-camera-icon"></use>
          </svg>
        </a>
        <a href="javascript:void(0)" class="options-message" data-toggle="tooltip" data-placement="top" data-original-title="QUIÉN PUEDE VER TU PUBLICACIÓN">
          <svg class="olymp-thunder-icon" data-toggle="modal" data-target="#update-post-privacy">
            <use xlink:href="assets/svg-icons/sprites/icons.svg#olymp-thunder-icon"></use>
          </svg>
        </a>
        <button type="submit" class="btn btn-primary btn-md-2">Publicar</button>
        <button class="btn btn-md-2 btn-border-think btn-transparent c-grey" type="reset" (click)="clearForm()">Limpiar</button>
      </div>
    </form>
  </div>
</div>

<!-- Ventana Emergente Actualizar Foto de Encabezado -->
<div class="modal fade" id="update-header-photo" tabindex="-1" role="dialog" aria-labelledby="update-header-photo" aria-hidden="true" #modalUploadImages>
  <div class="modal-dialog window-popup update-header-photo" role="document">
    <div class="modal-content">
      <a href="#" class="close icon-close" data-dismiss="modal" aria-label="Cerrar">
        <svg class="olymp-close-icon">
          <use xlink:href="assets/svg-icons/sprites/icons.svg#olymp-close-icon"></use>
        </svg>
      </a>

      <div class="modal-header">
        <h6 class="title">Subir Foto</h6>
      </div>

      <div class="modal-body">
        <input type="file" accept="image/*" hidden="true" #uploadFiles multiple (change)="onFilesSelected($event)">
        <a href="javascript:void(0)" class="upload-photo-item" (click)="uploadFiles.click()">
          <svg class="olymp-computer-icon">
            <use xlink:href="assets/svg-icons/sprites/icons.svg#olymp-computer-icon"></use>
          </svg>
          <h6>Subir Foto</h6>
          <span>Buscar en tu computadora.</span>
        </a>

        <a href="#" class="upload-photo-item" data-toggle="modal" data-target="#choose-from-my-photo">
          <svg class="olymp-photos-icon">
            <use xlink:href="assets/svg-icons/sprites/icons.svg#olymp-photos-icon"></use>
          </svg>
          <h6>Elegir de Mis Fotos</h6>
          <span>Elige entre tus fotos subidas</span>
        </a>
      </div>
    </div>
  </div>
</div>

<!-- ... end Ventana Emergente Actualizar Foto de Encabezado -->

<!-- Ventana Emergente Elegir de Mis Fotos -->
<div class="modal fade" id="choose-from-my-photo" tabindex="-1" role="dialog" aria-labelledby="choose-from-my-photo" aria-hidden="true">
  <div class="modal-dialog window-popup choose-from-my-photo" role="document">
    <div class="modal-content">
      <a href="#" class="close icon-close" data-dismiss="modal" aria-label="Cerrar">
        <svg class="olymp-close-icon">
          <use xlink:href="assets/svg-icons/sprites/icons.svg#olymp-close-icon"></use>
        </svg>
      </a>
      <div class="modal-header">
        <h6 class="title">Elegir de Mis Fotos</h6>

        <!-- Pestañas de Navegación -->
        <ul class="nav nav-tabs" role="tablist">
          <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="#home" role="tab" aria-expanded="true">
              <svg class="olymp-photos-icon">
                <use xlink:href="assets/svg-icons/sprites/icons.svg#olymp-photos-icon"></use>
              </svg>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#profile" role="tab" aria-expanded="false">
              <svg class="olymp-albums-icon">
                <use xlink:href="assets/svg-icons/sprites/icons.svg#olymp-albums-icon"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>

      <div class="modal-body">
        <!-- Paneles de Pestañas -->
        <div class="tab-content">
          <div class="tab-pane active" id="home" role="tabpanel" aria-expanded="true">
            <!-- Elegir Foto -->
            <div class="choose-photo-item" data-mh="choose-item">
              <div class="radio">
                <label class="custom-radio">
                  <img src="img/choose-photo1.jpg" alt="foto">
                  <input type="radio" name="optionsRadios">
                </label>
              </div>
            </div>
            <!-- Más fotos aquí... -->
            <a href="#" class="btn btn-secondary btn-lg btn--half-width">Cancelar</a>
            <a href="#" class="btn btn-primary btn-lg btn--half-width">Confirmar Foto</a>
          </div>
          <div class="tab-pane" id="profile" role="tabpanel" aria-expanded="false">
            <!-- Álbumes -->
            <div class="choose-photo-item" data-mh="choose-item">
              <figure>
                <img src="img/choose-photo10.jpg" alt="foto">
                <figcaption>
                  <a href="#">Vacaciones en Sudamérica</a>
                  <span>Última Añadida: hace 2 horas</span>
                </figcaption>
              </figure>
            </div>
            <!-- Más fotos aquí... -->
            <a href="#" class="btn btn-secondary btn-lg btn--half-width">Cancelar</a>
            <a href="#" class="btn btn-primary btn-lg disabled btn--half-width">Confirmar Foto</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- ... end Ventana Emergente Elegir de Mis Fotos -->

<!-- Ventana Emergente Cambiar Privacidad de Publicación -->
<div class="modal fade" id="update-post-privacy" tabindex="-1" role="dialog" aria-labelledby="post-privacy" aria-hidden="true">
  <div class="modal-dialog window-popup create-event" role="document">
    <div class="modal-content">
      <a href="javascript:void(0)" class="close icon-close" data-dismiss="modal" aria-label="Cerrar">
        <svg class="olymp-close-icon">
          <use xlink:href="assets/svg-icons/sprites/icons.svg#olymp-close-icon"></use>
        </svg>
      </a>
      <div class="modal-header">
        <h6 class="title">¿Quién puede ver tu publicación?</h6>
      </div>
      <div class="modal-body">
        <div class="form-group label-floating is-select">
          <label class="control-label">Categoria</label>
          <select class="form-select">
            <option value="PUBLIC">PÚBLICO</option>
            <option value="FRIENDS">AMIGOS</option>
            <option value="PRIVATE">PRIVADO</option>
          </select>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- ... end Ventana Emergente Cambiar Privacidad de Publicación -->
