<div class="landing-page"> 
  <div class="content-bg-wrap"></div>

  <!-- Header Standard Landing  -->

  <div class="header--standard header--standard-landing" id="header--standard">
    <div class="container">
      <div class="header--standard-wrap">

        <a href="#" class="logo">
          <div class="img-wrap">
            <img src="assets/img/logo.png" alt="Olympus">
            <img src="assets/img/logo-colored-small.png" alt="Olympus" class="logo-colored">
          </div>
          <div class="title-block">
            <h6 class="logo-title">HogarRed</h6>
            <div class="sub-title">RED SOCIAL</div>
          </div>
        </a>

        <a href="#" class="open-responsive-menu js-open-responsive-menu">
          <svg class="olymp-menu-icon">
            <use xlink:href="assets/svg-icons/sprites/icons.svg#olymp-menu-icon"></use>
          </svg>
        </a>

        <div class="nav nav-pills nav1 header-menu">
          <div class="mCustomScrollbar">
            <ul>
              <li class="nav-item">
                <a href="#" class="nav-link">Inicio</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-hover="dropdown" data-toggle="dropdown" href="#" role="button"
                   aria-haspopup="false" aria-expanded="false" tabindex='1'>Perfil</a>
                <div class="dropdown-menu">
                  <a class="dropdown-item" href="#">Página de Perfil</a>
                  <a class="dropdown-item" href="#">Noticias</a>
                  <a class="dropdown-item" href="#">Versiones de Publicaciones</a>
                </div>
              </li>
              <li class="nav-item dropdown dropdown-has-megamenu">
                <a href="#" class="nav-link dropdown-toggle" data-hover="dropdown" data-toggle="dropdown" role="button"
                   aria-haspopup="false" aria-expanded="false" tabindex='1'>Foros</a>
                <div class="dropdown-menu megamenu">
                  <div class="row">
                    <div class="col col-sm-3">
                      <h6 class="column-tittle">Enlaces Principales</h6>
                      <a class="dropdown-item" href="#">Página de Perfil<span class="tag-label bg-blue-light">nuevo</span></a>
                      <a class="dropdown-item" href="#">Página de Perfil</a>
                    </div>
                    <div class="col col-sm-3">
                      <h6 class="column-tittle">BuddyPress</h6>
                      <a class="dropdown-item" href="#">Página de Perfil</a>
                      <a class="dropdown-item" href="#">Página de Perfil<span class="tag-label bg-primary">¡CALIENTE!</span></a>
                    </div>
                    <div class="col col-sm-3">
                      <h6 class="column-tittle">Corporativo</h6>
                      <a class="dropdown-item" href="#">Página de Perfil</a>
                    </div>
                    <div class="col col-sm-3">
                      <h6 class="column-tittle">Foros</h6>
                      <a class="dropdown-item" href="#">Página de Perfil</a>
                    </div>
                  </div>
                </div>
              </li>
              <li class="nav-item">
                <a href="#" class="nav-link">Términos y Condiciones</a>
              </li>
              <li class="nav-item">
                <a href="#" class="nav-link">Eventos</a>
              </li>
              <li class="nav-item">
                <a href="#" class="nav-link">Política de Privacidad</a>
              </li>
              <li class="close-responsive-menu js-close-responsive-menu">
                <svg class="olymp-close-icon">
                  <use xlink:href="assets/svg-icons/sprites/icons.svg#olymp-close-icon"></use>
                </svg>
              </li>
              <li class="shoping-cart more">
                <a href="#" class="nav-link">
                  <svg class="olymp-shopping-bag-icon">
                    <use xlink:href="assets/svg-icons/sprites/icons.svg#olymp-shopping-bag-icon"></use>
                  </svg>
                  <span class="count-product">2</span>
                </a>
              </li>

              <li class="menu-search-item">
                <a href="#" class="nav-link" data-toggle="modal" data-target="#main-popup-search">
                  <svg class="olymp-magnifying-glass-icon">
                    <use xlink:href="assets/svg-icons/sprites/icons.svg#olymp-magnifying-glass-icon"></use>
                  </svg>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- ... end Header Standard Landing  -->
  <div class="header-spacer--standard"></div>

  <div class="container">
    <div class="row display-flex">
      <div class="col col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
        <div class="landing-content">
          <h1>Bienvenido a la Red Social más Grande del Mundo</h1>
          <p>Somos la mejor y más grande red social con 5 mil millones de usuarios activos en todo el mundo. ¡Comparte tus pensamientos, escribe blogs, muestra tu música favorita en Stopify, gana insignias y mucho más!
          </p>
          <a href="#" class="btn btn-md btn-border c-white">Olvidé mi Contraseña</a>
        </div>
      </div>

      <div class="col col-xl-5 col-lg-6 col-md-12 col-sm-12 col-12">

        <!-- Login-Registration Form  -->

        <div class="registration-login-form">
          <!-- Nav tabs -->
          <ul class="nav nav-tabs" role="tablist">
            <li class="nav-item">
              <a class="nav-link active" data-toggle="tab" href="#home" role="tab">
                <svg class="olymp-login-icon">
                  <use xlink:href="assets/svg-icons/sprites/icons.svg#olymp-login-icon"></use>
                </svg>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="#profile" role="tab">
                <svg class="olymp-register-icon">
                  <use xlink:href="assets/svg-icons/sprites/icons.svg#olymp-register-icon"></use>
                </svg>
              </a>
            </li>
          </ul>

          <!-- Tab panes -->
          <div class="tab-content">
            <div class="tab-pane active" id="home" role="tabpanel" data-mh="log-tab">
              <div class="title h6">Introduce tu correo electrónico</div>
              <form class="content">
                <div class="row">
                  <div class="col col-12 col-xl-6 col-lg-6 col-md-6 col-sm-12">
                    <div class="form-group label-floating">
                      <label class="control-label">Nombre</label>
                      <input class="form-control" placeholder="" type="text">
                    </div>
                  </div>
                  <div class="col col-12 col-xl-6 col-lg-6 col-md-6 col-sm-12">
                    <div class="form-group label-floating">
                      <label class="control-label">Apellido</label>
                      <input class="form-control" placeholder="" type="text">
                    </div>
                  </div>
                  <div class="col col-12 col-xl-12 col-lg-12 col-md-12 col-sm-12">
                    <div class="form-group label-floating">
                      <label class="control-label">Tu Correo</label>
                      <input class="form-control" placeholder="" type="email">
                    </div>
                    <div class="form-group label-floating">
                      <label class="control-label">Tu Contraseña</label>
                      <input class="form-control" placeholder="" type="password">
                    </div>

                    <div class="form-group date-time-picker label-floating">
                      <label class="control-label">Tu Cumpleaños</label>
                      <input name="datetimepicker" value="10/24/1984"/>
                      <span class="input-group-addon">
														<svg class="olymp-calendar-icon"><use
                              xlink:href="assets/svg-icons/sprites/icons.svg#olymp-calendar-icon"></use></svg>
													</span>
                    </div>

                    <div class="form-group label-floating is-select">
                      <label class="control-label">Tu Género</label>
                      <select class="selectpicker form-control">
                        <option value="MA">Masculino</option>
                        <option value="FE">Femenino</option>
                      </select>
                    </div>

                    <div class="remember">
                      <div class="checkbox">
                        <label>
                          <input name="optionsCheckboxes" type="checkbox">
                          Acepto los <a href="#">Términos y Condiciones</a> del sitio web
                        </label>
                      </div>
                    </div>

                    <a href="#" class="btn btn-purple btn-lg full-width">¡Completar Registro!</a>
                  </div>
                </div>
              </form>
            </div>

            <div class="tab-pane" id="profile" role="tabpanel" data-mh="log-tab">
              <div class="title h6">Inicia Sesión en tu Cuenta</div>
              <form class="content">
                <div class="row">
                  <div class="col col-12 col-xl-12 col-lg-12 col-md-12 col-sm-12">
                    <div class="form-group label-floating">
                      <label class="control-label">Tu Correo</label>
                      <input class="form-control" placeholder="" type="email">
                    </div>
                    <div class="form-group label-floating">
                      <label class="control-label">Tu Contraseña</label>
                      <input class="form-control" placeholder="" type="password">
                    </div>

                    <div class="remember">

                      <div class="checkbox">
                        <label>
                          <input name="optionsCheckboxes" type="checkbox">
                          Recuérdame
                        </label>
                      </div>
                      <a href="#" class="forgot" data-toggle="modal" data-target="#restore-password">Olvidé mi
                        Contraseña</a>
                    </div>

                    <a href="#" class="btn btn-lg btn-primary full-width">Iniciar Sesión</a>

                    <div class="or"></div>

                    <a href="#" class="btn btn-lg bg-facebook full-width btn-icon-left"><i class="fab fa-facebook-f"
                                                                                           aria-hidden="true"></i>Iniciar Sesión
                      con Facebook</a>

                    <a href="#" class="btn btn-lg bg-twitter full-width btn-icon-left"><i class="fab fa-twitter"
                                                                                          aria-hidden="true"></i>Iniciar Sesión
                      con Twitter</a>


                    <p>¿No tienes una cuenta? <a href="#">¡Regístrate Ahora!</a> Es muy fácil y puedes empezar a
                      disfrutar de todos los beneficios.</p>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>

        <!-- ... end Login-Registration Form  -->    
      </div>
    </div>
  </div>

  <!-- Window-popup Restore Password -->

  <div class="modal fade" id="restore-password" tabindex="-1" role="dialog" aria-labelledby="restore-password"
       aria-hidden="true">
    <div class="modal-dialog window-popup restore-password-popup" role="document">
      <div class="modal-content">
        <a href="#" class="close icon-close" data-dismiss="modal" aria-label="Cerrar">
          <svg class="olymp-close-icon">
            <use xlink:href="svg-icons/sprites/icons.svg#olymp-close-icon"></use>
          </svg>
        </a>

        <div class="modal-header">
          <h6 class="title">Restablece tu Contraseña</h6>
        </div>

        <div class="modal-body">
          <form method="get">
            <p>Introduce tu correo electrónico y haz clic en el botón de enviar código. Recibirás un código en tu correo. Utiliza ese código para cambiar la contraseña.
            </p>
            <div class="form-group label-floating">
              <label class="control-label">Tu Correo</label>
              <input class="form-control" placeholder="" type="email" value="james-spiegel@yourmail.com">
            </div>
            <button class="btn btn-purple btn-lg full-width">Envíame el Código</button>
            <div class="form-group label-floating">
              <label class="control-label">Introduce el Código</label>
              <input class="form-control" placeholder="" type="text" value="">
            </div>
            <div class="form-group label-floating">
              <label class="control-label">Tu Nueva Contraseña</label>
              <input class="form-control" placeholder="" type="password" value="olympus">
            </div>
            <button class="btn btn-primary btn-lg full-width">¡Cambia tu Contraseña!</button>
          </form>

        </div>
      </div>
    </div>
  </div>

  <!-- ... end Window-popup Restore Password -->

  <!-- Window Popup Main Search -->

  <div class="modal fade" id="main-popup-search" tabindex="-1" role="dialog" aria-labelledby="main-popup-search"
       aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered window-popup main-popup-search" role="document">
      <div class="modal-content">
        <a href="#" class="close icon-close" data-dismiss="modal" aria-label="Cerrar">
          <svg class="olymp-close-icon">
            <use xlink:href="svg-icons/sprites/icons.svg#olymp-close-icon"></use>
          </svg>
        </a>
        <div class="modal-body">
          <form class="form-inline search-form" method="post">
            <div class="form-group label-floating">
              <label class="control-label">¿Qué estás buscando?</label>
              <input class="form-control bg-white" placeholder="" type="text" value="">
            </div>

            <button class="btn btn-purple btn-lg">Buscar</button>
          </form>
        </div>
      </div>
    </div>
  </div>

  <!-- ... end Window Popup Main Search -->
</div>
