<div class="body-bg-white">

  <div class="stunning-header bg-primary-opacity">

    <div class="header-spacer--standard"></div>

    <div class="stunning-header-content">
      <h1 class="stunning-header-title">Página de Error 404</h1>
      <ul class="breadcrumbs">
        <li class="breadcrumbs-item">
          <a href="#">Inicio</a>
          <span class="icon breadcrumbs-custom">/</span>
        </li>
        <li class="breadcrumbs-item active">
          <span>Error 404</span>
        </li>
      </ul>
    </div>

    <div class="content-bg-wrap stunning-header-bg1"></div>
  </div>

  <!-- End Stunning header -->


  <section class="medium-padding120">
    <div class="container">
      <div class="row">
        <div class="col col-xl-6 m-auto col-lg-6 col-md-12 col-sm-12 col-12">
          <div class="page-404-content">
            <img src="../../../assets/img/404.png" alt="imagen">
            <div class="crumina-module crumina-heading align-center">
              <h2 class="h1 heading-title">¡Un <span class="c-primary">fantasma salvaje</span> ha aparecido! Lamentablemente, no es lo que estabas buscando...</h2>
            </div>

            <a href="javascript:void(0)" routerLink="/home" routerLinkActive="active" class="btn btn-primary btn-lg">Ir a la Página de Inicio</a>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- ... end Window-popup-CHAT for responsive min-width: 768px -->

  <app-back-to-top-arrow></app-back-to-top-arrow>
</div>
