<div class="landing-page">

  

  <div class="content-bg-wrap"></div>

  <!-- ... end Header Standard Landing  -->
  <div class="header-spacer--standard"></div>

  <div class="container" style="display: flex; justify-content: center; align-items: center; min-height: 100vh; width: 100%;">
    <div class="row display-flex" style="display: flex; justify-content: center; align-items: center; width: 100%;">
        <div class="col col-xl-5 col-lg-6 col-md-12 col-sm-12 col-12" style="max-width: 500px;">
            <!-- Login-Registration Form -->
            <div class="registration-login-form" style="width: 550px; padding: 20px; border-radius: 8px; box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); background-color: #fff;">
                <!-- Nav tabs -->
                <ul class="nav nav-tabs" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" data-toggle="tab" href="#home" role="tab">
                            <svg class="olymp-plus-icon">
                                <use xlink:href="assets/svg-icons/sprites/icons.svg#olymp-plus-icon"></use>
                            </svg>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#profile" role="tab">
                            <svg class="olymp-happy-face-icon">
                                <use xlink:href="assets/svg-icons/sprites/icons.svg#olymp-happy-face-icon"></use>
                            </svg>
                        </a>
                    </li>
                </ul>
                <div class="d-flex justify-content-center align-items-center vh-100">
                    <div class="tab-content">
                        <div class="tab-pane active" id="home" role="tabpanel" data-mh="log-tab">
                            <div class="title h6 text-center">Ingresa tu Correo Electronico</div>
                            <form class="content" [formGroup]="registerForm" (ngSubmit)="submitRegisterForm()">
                                <div class="row">
                                    <div class="col col-12 col-xl-12 col-lg-12 col-md-12 col-sm-12">
                                        <div class="form-group label-floating">
                                            <label class="control-label">Correo Electronico</label>
                                            <input class="form-control" placeholder="" type="email" formControlName="email">
                                        </div>
                                        <div class="form-group label-floating">
                                            <label class="control-label">Contraseña</label>
                                            <input class="form-control" placeholder="" formControlName="password" type="{{revealLoginPassFields ? 'password' : 'text'}}">
                                        </div>
                                        <div class="remember d-flex flex-column align-items-center">
                                            <div class="checkbox">
                                                <label>
                                                    <input name="optionsCheckboxes" type="checkbox" (click)="revealPass()" id="revealLoginPass"> Ver Contraseña
                                                </label>
                                            </div>
                                        </div>
                                        <button type="submit" class="btn btn-purple btn-lg full-width">Registrar</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="tab-pane" id="profile" role="tabpanel" data-mh="log-tab">
                            <div class="title h6 text-center">Iniciar Sesión</div>
                            <form class="content" [formGroup]="loginForm" (ngSubmit)="submitLoginForm()">
                                <div class="row">
                                    <div class="col col-12 col-xl-12 col-lg-12 col-md-12 col-sm-12">
                                        <div class="form-group label-floating">
                                            <label class="control-label">Correo Electronico</label>
                                            <input class="form-control" placeholder="" type="email" formControlName="email">
                                        </div>
                                        <div class="form-group label-floating">
                                            <label class="control-label">Contraseña</label>
                                            <input class="form-control" placeholder="" formControlName="password" type="{{revealLoginPassFields ? 'password' : 'text'}}">
                                        </div>
                                        <div class="remember d-flex flex-column align-items-center">
                                            <div class="checkbox">
                                                <label>
                                                    <input name="optionsCheckboxes" type="checkbox" (click)="revealPass()" id="revealLoginPass"> Ver Contraseña
                                                </label>
                                            </div>
                                            <a href="#" class="forgot mt-2" data-toggle="modal" data-target="#restore-password" (click)="openForgotPasswordModal()">Olvide mi Contraseña</a>
                                        </div>
                                        <button type="submit" class="btn btn-lg btn-primary full-width">Iniciar Sesión</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ... end Login-Registration Form  -->    
        </div>
    </div>
</div>


  <!-- Window-popup Verify OTP Login -->

  <div class="modal fade" id="verify-otp" tabindex="-1" role="dialog" aria-labelledby="restore-password"
       aria-hidden="true" #verifyOTPLogin>
    <div class="modal-dialog window-popup restore-password-popup" role="document">
      <div class="modal-content">
        <a href="#" class="close icon-close" data-dismiss="modal" aria-label="Close">
          <svg class="olymp-close-icon">
            <use xlink:href="assets/svg-icons/sprites/icons.svg#olymp-close-icon"></use>
          </svg>
        </a>

        <div class="modal-header">
          <h6 class="title">Verification</h6>
        </div>

        <div class="modal-body">
          <form method="get" [formGroup]="OTPForm" (ngSubmit)="submitLoginByOTP()">
            <p>Check your email for verification code and click the login button.
            </p>
            <div class="form-group label-floating">
              <label class="control-label">Enter the Code</label>
              <input class="form-control" placeholder="" type="text" value="" formControlName="code">
            </div>
            <button type="submit" class="btn btn-purple btn-lg full-width">Login</button>
          </form>

        </div>
      </div>
    </div>
  </div>

  <!-- ... end Window-popup verify OTP Login -->

  <!-- Window-popup Restore Password -->

  <div class="modal fade" id="restore-password" tabindex="-1" role="dialog" aria-labelledby="restore-password"
       aria-hidden="true" #forgotPassword>
    <div class="modal-dialog window-popup restore-password-popup" role="document">
      <div class="modal-content">
        <a href="#" class="close icon-close" data-dismiss="modal" aria-label="Cerrar">
          <svg class="olymp-close-icon">
            <use xlink:href="assets/svg-icons/sprites/icons.svg#olymp-close-icon"></use>
          </svg>
        </a>

        <div class="modal-header">
          <h6 class="title">Olvidé mi Contraseña</h6>
        </div>

        <div class="modal-body">
          <form method="get" [formGroup]="forgotPasswordForm" (ngSubmit)="submitForgotPasswordForm()">
            <p>Revisa tu correo electrónico para el enlace de restablecimiento.
            </p>
            <div class="form-group label-floating">
              <label class="control-label">Ingresa tu correo</label>
              <input class="form-control" placeholder="" type="text" value="" formControlName="email">
            </div>
            <button type="submit" class="btn btn-purple btn-lg full-width">Enviar</button>
          </form>

        </div>
      </div>
    </div>
  </div>
  <!-- ... end Window-popup Restore Password -->

</div>

