<div class="landing-page">
  <div class="content-bg-wrap"></div>

  <!-- Header Standard Landing  -->
  <div class="header--standard header--standard-landing" id="header--standard">
    <div class="container">
      <div class="header--standard-wrap">

        <a href="#" class="logo">
          <div class="img-wrap">
            <img src="assets/img/LogoHogarRed.png" alt="Hogar Red">
            <img src="assets/img/logo-colored-small.png" alt="Hogar Red" class="logo-colored">
          </div>
          <div class="title-block">
            <h6 class="logo-title">Hogar Red</h6>
            <div class="sub-title">FAMILIA CONECTADA</div>
          </div>
        </a>

        <div class="nav nav-pills nav1 header-menu">
        </div>
      </div>
    </div>
  </div>
  <!-- ... end Header Standard Landing  -->

  <div class="header-spacer--standard"></div>

  <div class="container">
    <div class="row display-flex">
      <div class="col col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
        <div class="landing-content">
          <h1>Bienvenido a Hogar Red</h1>
          <p>Si la familia es primero. ¿Por qué no una red social para la familia?</p>
        </div>
      </div>

      <div class="col col-xl-5 col-lg-6 col-md-12 col-sm-12 col-12">

        <!-- Login-Registration Form  -->
        <div class="registration-login-form">
          <!-- Nav tabs -->
          <ul class="nav nav-tabs" role="tablist">
            <li class="nav-item">
              <a class="nav-link active" data-toggle="tab" href="#home" role="tab">
                <svg class="olymp-login-icon">
                  <use xlink:href="assets/svg-icons/sprites/icons.svg#olymp-login-icon"></use>
                </svg>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="#profile" role="tab">
                <svg class="olymp-register-icon">
                  <use xlink:href="assets/svg-icons/sprites/icons.svg#olymp-register-icon"></use>
                </svg>
              </a>
            </li>
          </ul>

          <!-- Tab panes -->
          <div class="tab-content">
            <div class="tab-pane active" id="home" role="tabpanel" data-mh="log-tab">
              <div class="title h6">Ingresa tu correo electrónico</div>
              <form class="content" [formGroup]="registerForm" (ngSubmit)="submitRegisterForm()">
                <div class="row">
                  <div class="col col-12 col-xl-12 col-lg-12 col-md-12 col-sm-12">
                    <div class="form-group label-floating">
                      <label class="control-label">Tu Correo</label>
                      <input class="form-control" placeholder="" type="email" formControlName="email">
                    </div>
                    <div class="form-group label-floating">
                      <label class="control-label">Tu Contraseña</label>
                      <input class="form-control" placeholder=""
                             formControlName="password"
                             type="{{revealLoginPassFields?'password':'text'}}">
                    </div>

                    <div class="remember">
                      <div class="checkbox">
                        <label>
                          <input name="optionsCheckboxes" type="checkbox" (click)="revealPass()" id="revealLoginPass">
                          Mostrar contraseña
                        </label>
                      </div>
                      <a href="#" class="forgot" data-toggle="modal" data-target="#restore-password"
                         (click)="openForgotPasswordModal()">Olvidé mi Contraseña</a>
                    </div>

                    <button type="submit" class="btn btn-purple btn-lg full-width">¡Completar Registro!</button>
                  </div>
                </div>
              </form>
            </div>

            <div class="tab-pane" id="profile" role="tabpanel" data-mh="log-tab">
              <div class="title h6">Inicia sesión en tu cuenta</div>
              <form class="content" [formGroup]="loginForm" (ngSubmit)="submitLoginForm()">
                <div class="row">
                  <div class="col col-12 col-xl-12 col-lg-12 col-md-12 col-sm-12">
                    <div class="form-group label-floating">
                      <label class="control-label">Tu Correo</label>
                      <input class="form-control" placeholder="" type="email" formControlName="email">
                    </div>
                    <div class="form-group label-floating">
                      <label class="control-label">Tu Contraseña</label>
                      <input class="form-control" placeholder=""
                             formControlName="password"
                             type="{{revealLoginPassFields?'password':'text'}}">
                    </div>

                    <div class="remember">
                      <div class="checkbox">
                        <label>
                          <input name="optionsCheckboxes" type="checkbox" (click)="revealPass()" id="revealLoginPass">
                          Mostrar contraseña
                        </label>
                      </div>
                      <a href="#" class="forgot" data-toggle="modal" data-target="#restore-password"
                         (click)="openForgotPasswordModal()">Olvidé mi Contraseña</a>
                    </div>

                    <button type="submit" class="btn btn-lg btn-primary full-width">Iniciar Sesión</button>

                    <p>¿No tienes una cuenta? <a href="#"> ¡Regístrate ahora! </a> es muy simple y podrás comenzar a disfrutar de todos los beneficios.</p>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
        <!-- ... end Login-Registration Form  -->
      </div>
    </div>
  </div>

  <!-- Window-popup Verify OTP Login -->
  <div class="modal fade" id="verify-otp" tabindex="-1" role="dialog" aria-labelledby="restore-password" aria-hidden="true" #verifyOTPLogin>
    <div class="modal-dialog window-popup restore-password-popup" role="document">
      <div class="modal-content">
        <a href="#" class="close icon-close" data-dismiss="modal" aria-label="Close">
          <svg class="olymp-close-icon">
            <use xlink:href="assets/svg-icons/sprites/icons.svg#olymp-close-icon"></use>
          </svg>
        </a>

        <div class="modal-header">
          <h6 class="title">Verificación</h6>
        </div>

        <div class="modal-body">
          <form method="get" [formGroup]="OTPForm" (ngSubmit)="submitLoginByOTP()">
            <p>Revisa tu correo para obtener el código de verificación y haz clic en el botón de inicio de sesión.</p>
            <div class="form-group label-floating">
              <label class="control-label">Ingresa el Código</label>
              <input class="form-control" placeholder="" type="text" value="" formControlName="code">
            </div>
            <button type="submit" class="btn btn-purple btn-lg full-width">Iniciar Sesión</button>
          </form>
        </div>
      </div>
    </div>
  </div>
  <!-- ... end Window-popup verify OTP Login -->

  <!-- Window-popup Restore Password -->
  <div class="modal fade" id="restore-password" tabindex="-1" role="dialog" aria-labelledby="restore-password" aria-hidden="true" #forgotPassword>
    <div class="modal-dialog window-popup restore-password-popup" role="document">
      <div class="modal-content">
        <a href="#" class="close icon-close" data-dismiss="modal" aria-label="Close">
          <svg class="olymp-close-icon">
            <use xlink:href="assets/svg-icons/sprites/icons.svg#olymp-close-icon"></use>
          </svg>
        </a>

        <div class="modal-header">
          <h6 class="title">Olvidé mi Contraseña</h6>
        </div>

        <div class="modal-body">
          <form method="get" [formGroup]="forgotPasswordForm" (ngSubmit)="submitForgotPasswordForm()">
            <p>Revisa tu correo para obtener el enlace de restablecimiento.</p>
            <div class="form-group label-floating">
              <label class="control-label">Ingresa tu correo</label>
              <input class="form-control" placeholder="" type="text" value="" formControlName="email">
            </div>
            <button type="submit" class="btn btn-purple btn-lg full-width">Enviar</button>
          </form>
        </div>
      </div>
    </div>
  </div>
  <!-- ... end Window-popup Restore Password -->
</div>
